<h1>Quan li vai tro</h1>
<a href="/roles/add" class="btn btn-primary mb-2">Them</a>
<table class="table table-bordered">
  <thead>
    <tr>
      <th width="5%">STT</th>
      <th>Ten</th>
      <th width="5%">Sua</th>
      <th width="5%">Xoa</th>
    </tr>
  </thead>
  <tbody>
    <% roles.forEach((role, index) => { %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= role.name %></td>
      <td>
        <a href="/roles/edit/<%= role.id %>" class="btn btn-warning">Sua</a>
      </td>
      <td>
        <form
          action="/roles/delete/<%= role.id %>"
          method="post"
          onsubmit="return confirm('ban co chac chan xoa')"
        >
          <button class="btn btn-danger">Xoa</button>
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
