<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>F8-hoc lap trinh</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container py-3">
      <div class="row">
        <div class="col-3">
          <h3>Menu</h3>
          <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="/">Trang chu</a></li>
            <li class="nav-item">
              <a class="nav-link" href="/users">Quan li nguoi dung</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/roles">Quan li vai tro</a>
            </li>
          </ul>
        </div>
        <div class="col-9"><%- body %></div>
      </div>
    </div>
  </body>
</html>
