<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dang nhap he thong</title>
</head>
<body>
    <h1>Authencation</h1>
    <%- body %>
</body>
</html>